@use './Variables/colors' as *;
@use './Mixins/Mixins' as *;
@use './PlaceHolders/placeHolders' as *;
@use "sass:map";
@use './Components/Navbar';
@use './Components/Description';
@use './Components/FilterBar';
@use './Components/Space_Section';
@use './Components/Post_section';
@use './Components/ItGroupes_List.scss';

/*
  @include respond-to('small') {
   color: green;
  }
  @include respond-to('medium') {
    color: red;
   }
  @include respond-to('large') {
    color: blue;
  }
}

*/