
 
$primary_Colors: (
    "primary-color-01": #D80027,
    "primary-color-02": #FFFFFF,
    "primary-color-03": #111111
);

$secondary_Colors: (
    "secondary-color-01": #75757566,
    "secondary-color-02": #333 
);
$After_Before_Colors:(

);

 

