//Height For Top Position
$height:4rem;

//Z-Index
$low-Z:-1;
$medium-Z:1;
$high-Z:9;

//Shadow Color
$shadow:rgba(0, 0, 0, 0.182);
//Background Color
$low_white: rgba(199, 199, 199, 0.359);
//Grid Columns 
$columns_01: 26% 74%;
$columns_02: 70%  30%;
$columns_03: 1fr;
